dist: xenial
language: python
python:
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  # 3.7 development branch
  - "3.8-dev"  # 3.8 development branch
install:
  - pip install -e .
script: pytest
